
.bgCategory{
  width: 100%;
  height:200px;
  overflow: hidden;
}
h1{
  color: white;
  text-transform: uppercase;
}
img{
}
.bgNuit{background: url(../../../assets/img/nuit.jpg) no-repeat  center;}
.bgSport{background: url(../../../assets/img/leSport.jpg) no-repeat  center 75%;}
.bgSportMeca{background: url(../../../assets/img/mecanique.jpg) no-repeat  center 75%;}
.bgSponsoring{background: url(../../../assets/img/nuit.jpg) no-repeat  center 75%;}
.bgEvent{background: url(../../../assets/img/leSport.jpg) no-repeat  center 75%;}

