<section class="container entreprise">

  <div class="row">
    <div class="quality fadeInRight quality1 col-xs-12 col-lg-6">
      <h2>Team de spécialistes</h2>
      <p>Organisé autour d'un team de spécialistes, assureurs , experts, juristes, <b>EGERIS</b> s'appuie, dans le cadre d' un véritable partenariat, sur un réseau de structures régionales implantées sur l'ensemble du territoire mettant à la disposition des assurés un interlocuteur unique chargé de l'élaboration et du suivi de leur dossier, offrant ainsi un service de proximité de tout premier ordre.</p>
    </div>
    <div class="quality fadeInLeft quality1 col-xs-12 col-lg-6">
      <h2>Capital confiance</h2>
      <p>Fort du capital confiance acquis à travers un portefeuille de plusieurs centaines d'assurés parmi les plus prestigieux, <b>EGERIS</b> occupe aujourd'hui une place majeure dans le monde de la nuit, du spectacle, de l'événement, du sport et du sponsoring et confirme ainsi la solidité des bases sur lesquelles se construit son avenir.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <hr class="animatable">
    </div>
  </div>
  <div class="row">
    <div class="quality fadeInRight quality2 col-xs-12 col-lg-6">
      <h2>Haute performance</h2>
      <p>Pensés et conçus en étroite collaboration avec les professionnels les plus exigeants de chaque secteur concerné, nos contrats comportent des garanties "haute performance" modulables et évolutives associées à un souci permanent de compétitivité et de qualité du service.</p>
      <br>
      <p>L'ensemble des contrats sont souscrits auprès de compagnies de renommée internationale offrant des garanties de sérieux, de stabilité et de solvabilité absolue.</p>
    </div>
    <div class="quality fadeInLeft  quality2 col-xs-12 col-lg-6">
      <h2>Excellence</h2>
      <p>Résolument engagé dans une stratégie de différenciation sur un nombre limité de "niches", <b>EGERIS</b> s'est doté des ressources matérielles et humaines répondant à des critères d'excellence.</p>
    </div>
  </div>

</section>